
body {
  font-family: 'Rubik', sans-serif;
  font-size: 3vw;
  background-color: #090b11;
}

#paper {
  margin: 5vw auto auto auto;
  max-width: 90%;
  min-height: 100vh;
  text-align: center;
  color: whitesmoke;
  padding: 10vw 10vw auto 10vw;
  box-shadow: 0 0 10px ;
}

#portrait {
  max-width: 40vw;
  margin: 3vh auto auto auto;
  box-shadow: 0 0 10px #090b11;
}

#paper a {
  text-decoration: none;
  color: whitesmoke;
}

#paper a:hover {
  color:rgb(163, 163, 163);
  transition: .2s ease-in-out;
}

.lightsection {
  background-color: rgba(255, 255, 255, 0.329);
}

.info {
}

.info tr {
}

.icon {
  width: 4.5vw;
  filter: invert(100%) grayscale(100%);
  text-align: left;
  vertical-align: middle;
  padding-top: .5vw;
  padding-bottom: .5vw;
}

.icon:hover {
  filter: invert(100%) grayscale(100%) opacity(50%);
}

.right {
  text-align: right;
  padding: auto;
}

.info table {
  margin: auto;
  width: 65%;
}

h1 {
  font-size: 5vw;
  font-weight: 400;
  margin: auto;
  padding: 10px;
}

h2 {
  font-size: 4.5vw;
  margin: 1vh auto;
}

h3 {
  font-size: 4vw;
}

@media (min-width: 700px) {
  #paper {
    display: block;
    text-align: center;
    width: 80vw;
    min-height: 95vh;
    background-color: #be9439;
    margin:2.5vw auto;
    border-radius: 5px;
    
  }

  body {
  }

  h1 {
    font-size: 30px;
  }

  .left {
    position: relative;
    display: inline-block;
    width: 25vw;
    min-height: 95vh;
    background-color: #0d154700;
    float: left;
    color:white;
    padding: 10px;
  }

  .right {
    position: relative;
    display: inline-block;
    width: 55vw;
    min-height: 95vh;
    background-color: white;
    float: right;
    padding: 10px;
  }

  #portrait {
    max-width: 20vw;
    border: 1px solid black;
    margin: 3vw auto auto auto;
  }
}


/*footer*/


footer {
  height: 20px;
  width: 100vw;
  background-color:#0d154700;
  position: ;
  bottom: 0;
  color: whitesmoke;
  display: table;
  }
  
  footer div {
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 10px;
    margin: auto;
    display: table-cell;
    vertical-align: bottom;
  }
  
  footer a {
    color:whitesmoke;
    text-decoration: none;
    margin: auto;
    padding: auto;
  }
  
  footer a:hover {
    color:rgb(163, 163, 163);
    transition: .2s ease-in-out;
  }
  
  strong {
    font-weight: 600;
  }