
:root {
  --ColorGrey: #495258;
  --ColorWhite: #fff;
  --ColorBlack: #202020;
  --PrimaryFont: 'Rubik', sans-serif;
}

/*Alapvető elem beállítások*/

body {
  font-family: var(--PrimaryFont);
  background-color: var(--ColorWhite);
  color: var(--ColorBlack);
  font-size: 18px;
  max-width: 100vw;
  min-height: 100vh;
  
}

a {
    color:var(--ColorBlack);
    text-decoration: none;
    margin: auto;
  }

a:hover {
    color: var(--ColorGrey);
    transition: all .2s ease-in-out;
  }


img {
  margin: auto;
  box-shadow: 0 0 10px #090b11;
}

/*header*/

.header {
  position: fixed;
  top:0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  background-color: var(--ColorGrey);
  z-index: 2;
}

.headeritemwrapper {
  max-width: 90vw;
  margin: auto;
  text-align: center;
  padding: 5px 0;
  z-index: 1;
}

.headeritemwrapper::before {
  content: "";
  display: block;
  position: fixed;
  left: 5%;
  width: 90%;
  height: 15px;
  background: var(--ColorBlack);
  border-radius: 50%;
  filter: blur(5px);
  top: 75px;
  z-index: 0;
}

.headeritem {
  position: relative;
  padding: 5px 10px;
  display: inline-block;
  transition: all .2s ease-in-out;
}

.headeritem a {
  text-decoration: none;
  color: var(--ColorBlack);
}

.headeritem:hover {
  text-shadow: 0.1px 0.1px 1px var(--ColorBlack),
              -0.1px -0.1px 1px var(--ColorBlack);
}

.headeritem::after {
  content: "";
  position: absolute;
  left: 10%;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: var(--ColorBlack);
  transition: all .2s ease-in-out;
}

.headeritem:hover::after {
  width: 80%;
}

.active {
  position: relative;
  text-shadow: 0.1px 0.1px 1px var(--ColorBlack),
              -0.1px -0.1px 1px var(--ColorBlack);
}

.active a::after {
  content: "";
  position: absolute;
  left: 10%;
  bottom: 0;
  width: 80%;
  height: 2px;
  background-color: var(--ColorBlack);
  transition: all .2s ease-in-out;
}



/*container - bodyn belül van, nem tartalmazza a footert és a headert*/

.container{
  padding-top: 100px;
}

.firstsection {
  margin: auto;
  text-align: center;
}

.portrait {
  max-width: 250px;
}

/* Contact info */

.contactinfo {
  width: 100%;
  margin: 25px auto;
}

.contactinfoheader {
  margin: auto;
  text-align: center;
}

.contactinfowrapper {
  width: 80%;
  max-width: 350px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 35px;
  vertical-align: middle;
  gap: 5px;
}

.left {
  text-align: left;
  flex: 0 1 10%;
  padding-top: 5px;
}

.right {
  text-align: right;
  flex: 0 1 85%;
  padding-top: 5px;
}

.icon {
  width: 35px;
  filter: invert(0%) grayscale(100%);
  border-radius: 100px;
  transition: all .2s ease-in-out;
}

.icon:hover {
  filter: invert(0%) grayscale(100%) opacity(70%);
}

/*csak desktop*/

@media (min-width: 700px) {


}
/* csak mobil */
@media (max-width: 700px) {


}

/*footer*/

footer {
  position: absolute;
  width: 100vw;
  background-color: var(--ColorGrey);
  color: var(--ColorWhite);
  bottom: 0;
  margin-top: 50px;
  font-size: 10px;
  text-align: center;
  }
  
footer div {
  padding: 5px 0;
}

footer a {
  color: var(--ColorWhite);
}

strong {
  font-weight: 500;
}