
:root {
  --ColorGrey: #42494F;
  --ColorWhite: #eeeeee;
  --ColorBlack: #202020;
  --PrimaryFont: 'Rubik', sans-serif;
  --MainWidth: 1000px;
}


/*Alapvető elem beállítások*/

body {
  font-family: var(--PrimaryFont);
  background-color: var(--ColorWhite);
  color: var(--ColorBlack);
  font-size: 16px;
  height: 100%;
}

a {
  color: var(--ColorBlack);
  text-decoration: none;
  margin: auto;
  transition: all .15s ease-in-out;
  }

a:hover {
    color: var(--ColorGrey);
    text-shadow: 0.1px 0.1px 1px var(--ColorGrey),
                -0.1px -0.1px 1px var(--ColorGrey);
  }

img {
  width: 100%;
  margin: auto;
}

h1 {
  margin: auto;
}

div, p {
  line-height: 1.25;
}

section {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*header*/

.header {
  position: fixed;
  top:0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  background-color: var(--ColorWhite);
  box-shadow: 0px -10px 20px 0px var(--ColorGrey);
  z-index: 1;
}

.headeritemwrapper {
  max-width: 90vw;
  margin: auto;
  text-align: center;
  padding: 5px 0;
}

.headeritem {
  position: relative;
  padding: 5px 10px;
  display: inline-block;
  transition: all .15s ease-in-out;
}

.headeritem a {
  text-decoration: none;
  color: var(--ColorGrey);
}

.headeritem:hover {
  text-shadow: 0.1px 0.1px 1px var(--ColorBlack),
              -0.1px -0.1px 1px var(--ColorBlack);
}

.headeritem::after {
  content: "";
  position: absolute;
  left: 10%;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: var(--ColorGrey);
  transition: all .15s ease-in-out;
}

.headeritem:hover::after {
  width: 80%;
}

.active {
  position: relative;
  text-shadow: 0.1px 0.1px 1px var(--ColorGrey),
              -0.1px -0.1px 1px var(--ColorGrey);
}

.active a::after {
  content: "";
  position: absolute;
  left: 10%;
  bottom: 0;
  width: 80%;
  height: 2px;
  background-color: var(--ColorGrey);
  transition: all .15s ease-in-out;
}


/*container - bodyn belül van, nem tartalmazza a footert és a headert*/

.container{
  max-width: 1000px;
  margin: auto;
  box-shadow: 0px 0px 10px var(--ColorBlack);
}

.firstsection {
  text-align: center;
  background-color: var(--ColorGrey);
  color: var(--ColorWhite);
  padding-top: 70px;
  display: block;
  justify-content: center;
}

.firstsection a {
  color: var(--ColorWhite);
}

.firstsection a:hover {
  text-shadow: 0.1px 0.1px 1px var(--ColorWhite),
              -0.1px -0.1px 1px var(--ColorWhite);
}

.firstsectiontop,
.firstsectionbottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.portrait {
  width: 200px;
  box-shadow: 0 0 10px var(--ColorBlack);
  border: 5px solid var(--ColorWhite);
  margin: 10px auto;
  vertical-align: middle;
}

.firstsectionright {
  display: flex;
  flex-direction: column;
}

.name {
  text-align: center;
  margin-bottom: 5px;
}

.contactinfo {
  width: 100%;
  margin: 10px auto;
  max-width: 400px;
}

.contactinfowrapper {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 30px;
  vertical-align: middle;
}

.left {
  text-align: left;
  flex: 0 1 10%;
  padding-top: 5px;
}

.right {
  text-align: right;
  flex: 0 1 85%;
  padding-top: 5px;
}

.icon {
  width: 30px;
  filter: invert(100%) grayscale(100%);
  border-radius: 100px;
  transition: all .15s ease-in-out;
}

.icon:hover {
  filter: invert(100%) grayscale(100%) opacity(70%);
}

/*Személyes készségek*/

.skillcontainer {
  max-width: 80%;
  margin: 10px auto;
  display: flex;
  gap: 20px;
  text-align: left;
  justify-content: center;
}

.skillheader {
  flex: 0 1 20%;
  font-size: 16px;
}

.skillwrapper {
  flex: 0 1 80%;
  font-size: 14px;
  justify-content: right;
  display: flex;
}

.skill {
  display: inline;
}

/*Tapasztalat*/

.secondsection {
  max-width: 80%;
  margin: auto;
}

.thirdsection {
  background-color: var(--ColorGrey);
  color: var(--ColorWhite);
  padding-left: 10%;
  padding-right: 10%;
  margin: auto;
}

.experienceheader {
  margin: 10px auto;
  display: block;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.experiencetitle {
  display: inline;
  margin: 25px auto;
}

.experiencedate,
.workplace,
.position {
  display: inline-block;
}

.jobrolewrapper {
  padding-left: 10%;
  display: flex;
  flex-direction: column;
}

.jobrole {
  display: inline-block;
  font-size: 14px;
  padding-top: 5px;
}

.secondsection .jobrole::before{
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 25px;
  background-color: var(--ColorGrey);
  margin: auto;
  margin-right: 10px;
}

.thirdsection .jobrole::before{
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 25px;
  background-color: var(--ColorWhite);
  margin: auto;
  margin-right: 10px;
}

/*csak desktop*/

@media (min-width: 700px) {
  .firstsection {
    flex-direction: row;
  }

}
/* csak mobil */
@media (max-width: 700px) {
  

}

/*footer*/

footer {
  width: 100vw;
  background-color: var(--ColorGrey);
  color: var(--ColorWhite);
  bottom: 0;
  font-size: 10px;
  text-align: center;
  }
  
footer div {
  padding: 5px 0;
}

footer a {
  color: var(--ColorWhite);
}

footer a:hover {
  color: var(--ColorWhite);
  text-shadow: 0.1px 0.1px 1px var(--ColorWhite),
              -0.1px -0.1px 1px var(--ColorWhite);
}

strong {
  font-weight: 500;
}